/* .game-off-week {
    width: 343px;
    height: 193px;
    margin: 0 40px 2px 0;
    opacity: 0.9;
    border-radius: 12px;
    background-image: linear-gradient(to bottom, #ffe24a 0%, #ffc702 65%, #d08900 100%);
  } */