.referrals .selected-payment-option {
  box-shadow: inset 0 -3px 0 0 #99841f, inset 0 2px 0 0 rgb(255 255 255 / 75%) !important;
  background-image: linear-gradient(to bottom, #f6e848 0%, #ecc91d 100%)!important;
  border-radius: 5px;
}

.referrals .selected-payment-option .svelte-zj5ccq {
  -webkit-text-fill-color: #000 !important;
  background-clip: initial;
}

.referrals .payment-option {
  background: #28293f;
  box-shadow: inset 0 -1px 0 0 #4a431f;
  background-color: #1d1c22;
}
.referrals .payment-option .svelte-zj5ccq {
  color: #fff
}

.referrals .bg-copy {
  background-image: linear-gradient(to bottom, #f6e848 0%, #ecc91d 100%);
}

.referrals .bg-share {
  background-image: linear-gradient(to bottom, #d3b72c 0%, #de9a49 100%);
}
.referrals .stats-container {
  box-shadow: inset 0 1px 0 0 rgb(255 255 255 / 25%);
  background-color: #1d1c22;
}